@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Main content area */
.placement-page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

/* Header image and text */
.header-image-wrapper {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    margin: 0 !important;
}

.header-image {
    width: 1180px;
    height: 350.09px;
    position: relative;
}

.header-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.header-placement-title {
    color: var(--W, #FFF);
    text-align: right;
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%;
}

.header-placement-subtitle {
    color: var(--W, #FFF);
    text-align: right;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.color-purple {
    color: var(--purple, #6836FF);
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 18px;
}

.color-black {
    color: var(--DARK, #333);
}

/* Truncate long titles */
.truncate-title {
    max-width: auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

/* SECTIONS */
.resume-status-section {
    position: relative;
    /* Required for the pseudo-element positioning */
    background: #fff;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}


/* Header section with user info */
.job-placement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-placement-header .user-info {
    display: flex;
    align-items: center;
}

.job-placement-header .user-info h1 {
    margin: 0 20px;
    color: #333;
}

.job-placement-header .user-info img {
    border-radius: 50%;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
}

.job-placement-header .user-name {
    font-size: 1.2em;
    margin: 0;
}

.instructions {
    text-align: center;
}

.instructions h2 {
    margin-top: 0;
}

.resume-status-section p {
    font-size: 1.1em;
}

/* Icon next to 'View Your Resume' link */
.resume-status-section img {
    margin-right: 10px;
    vertical-align: middle;
}

.resume-upload-notice {
    font-weight: 600;
    /* color: 0056b3; */

    margin-bottom: 20px;
}

div.related-courses h2#related-courses-header {
    color: var(--DARK, #333);
    font-family: Heebo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

/* Course progress bar styling */
.ld-progress-bar,
.ld-progress-bar-percentage {
    height: 5px;
    border-radius: 2px;
}

.ld-progress-bar {
    background-color: #ddd;
    margin-top: 10px;
}

.ld-progress-bar-percentage {
    width: 0;
    background-color: #0056b3;
}

/* Course title styling */
.bb-course-title {
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: bold;
}

/* INTERVIEW STYLES */
.interview-detail {
    display: flex;
    align-items: end;

    margin: 0 0 16px;
}

.label {
    font-weight: bold;
    margin: 0 10px !important;
}

.icon {
    font-size: 18px;
}

.calendar {
    color: #3498db;
}

.clock {
    color: #f39c12;
}

.value {
    color: #333;
}

.updated {
    display: none;
}

.placement-container {
    display: flex;
    padding: 0px 0px 33.999px 210px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.placement-sub-container {
    width: 459.078px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.status-sub-items {
    width: 410px;
    height: 194px;
    margin: 50px 50px 50px 0;
}

.status-container {
    display: flex;
    height: 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.status-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}

.status-label {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--GREEN, #1ED760);
}

.chart-icon {

    color: var(--purple, #6836FF);
    text-align: right;
    font-family: "Font Awesome 6 Free";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    /* 122.222% */
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.chart-icon>img {
    width: 18px;
    height: 18px;
}

.resume-status {
    color: var(--purple, #6836FF);
    text-align: right;
    font-family: Heebo;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 91.667% */
    margin: unset;
}

#resume-label {
    color: var(--W, #FFF);
    text-align: right;
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 100% */
    margin: unset;

}

.status-heading {
    color: var(--Gray-4, #BDBDBD);
    text-align: right;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 20px 0 0 0;
}

.notes-link {
    color: var(--P2, #B49BFF);
    text-align: right;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 112.5% */
}

.hidden {
    display: none;
    /* Eleme nt is invisible but still occupies space */
}

/* TO DO: Implement the logos system ... */
/* #company-logo{
    visibility: hidden;
} */
.flex-items {
    display: flex;
    width: 410px;
    height: 194px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.placement-notes-link {
    color: var(--P2, #B49BFF);
    text-align: right;
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}

.placement-notes-link:hover {
    color: #6836FF;
}

.placement-notes-update {
    color: var(--Gray-4, #BDBDBD);
    text-align: right;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

/* Custom styles for RTL layout */
.acf-form {
    direction: rtl;
    text-align: right;
}

.acf-form .acf-field label {
    text-align: right;
}

.acf-form .button-primary {
    float: right;
}

html[dir=rtl] .acf-file-uploader .file-info {
    margin-right: 58px !important;
    padding: 0 12px !important;
}

.acf-file-uploader .file-wrap {
    border: #ccd0d4 solid 1px !important;
    height: 60px !important;
    position: relative;
    background: #fff !important;
    min-height: unset !important;
}

.acf-fields>.acf-field {
    padding: 0 !important;
    width: 100%;

}

.acf-field .acf-label {
    margin: 0 !important;
}

.acf-file-uploader .file-icon img {
    height: 40px !important;
    min-height: unset !important;
}

/* Apply styles to the ACF label to match status-header */
.acf-label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.acf-label label {
    color: var(--purple, #6836FF);
    font-family: Heebo;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
    margin: 10px 0 !important;
}

.acf-input .chart-icon {
    width: 18px;
    height: 18px;
    color: var(--purple, #6836FF);
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-family: "Font Awesome 6 Free";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
}

.acf-field,
.acf-field .acf-label,
.acf-field .acf-input {
    width: 75%;

}
.acf-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.acf-input{
    width: 100% !important;
    padding: 0 0 0 50px;
}
.acf-file-uploader .file-info p{
    margin: 0 0 8px !important;
    line-height: 1.5em !important;
    direction: ltr;
}
.acf-file-uploader .file-wrap{
    height: 100px !important;
    direction: rtl;
}
#acf-form > div.acf-fields.acf-form-fields.-top > div.acf-field.acf-field-file.acf-field-65a928f1c7fe5 > div.acf-input > div > div.show-if-value.file-wrap > div.file-info{
    padding: 0 !important;
}
html[dir=rtl] .acf-file-uploader .file-info{
    padding: 0;
    margin-left: 0;
}
.acf-file-uploader .file-icon img {
    margin: 10px 0px !important;
}
@media screen and (max-width: 649px) {
    .site-content{
        padding-top: 0 !important;
    }
    .container {
        width: 100%;
        padding: 0 !important;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    .header-image-wrapper{
        margin:0 !important;
    }
    .header-text{
        padding: 16px !important;
    }
    .header-placement-subtitle{
        display: block;
        position: relative;
        max-height: 3.5em;
        overflow: hidden;
        line-height: 1.2em;
        text-align: center;
    }
    #content > div > div > div > div > div.header-placement-subtitle{
        padding: 0 8px;
    }
    .placement-container{
        flex-direction: column;
        padding: 0 8px;
        width: 100%;
    }
    .placement-sub-container{
        width: 100%;
        height: 100%;
    }
    .status-sub-items{
        height: 100%;
        width: 100%;
        padding: 24px 24px 24px 0;
        display: flex;
        gap: 32px;
        flex-direction: column;
        margin: 0;
    }
    .acf-input{
        padding: 0 0 0 24px;
    }
    #content > div > div > div > div > div.related-courses{
        padding: 0 8px;
    }
  
    #content > div > div > div > div > div.placement-container > div:nth-child(2) > div{
        margin-bottom: 18px;
    }
    #content > div > div > div > div > div.placement-container > div:nth-child(1) > div > div > div{
        height: 100%;
    }
    div.related-courses h2#related-courses-header{
        text-align: center;
    }
    
}

@media screen and (min-width: 650px) and (max-width: 1440px) {
    .site-content{
        padding-top: 0 !important;
    }
    .container {
        width: 100%;
        padding: 0 !important;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    .header-image-wrapper{
        margin:0 !important;
    }
    .header-text{
        padding: 16px !important;
        gap: 16px !important;
    }
    .header-title{
        font-size: 54px !important;
    }
    .header-subtitle{
        font-size: 22px !important;
    }
    .header-placement-title{
        font-size: 48px;
    }
    #content > div > div > div > div > div.header-placement-subtitle{
        font-size: 18px;
        width:  100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 16px;
    }
    #content > div > div > div > div > div.header-image-wrapper > div > div.header-text > div.header-placement-title{
        margin-bottom: 0 !important;
    }
    .placement-container{
        flex-direction: row;
        padding: 0 16px;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .placement-sub-container{
        width: 48%;
        height: 240px;
    }
    #content > div > div > div > div > div.placement-container > div:nth-child(2) > div{
        gap: 48px;
    }
    .status-sub-items{
        height: 100%;
        width: 100%;
        padding: 24px 24px 24px 0;
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin: 0;
    }
    #content > div > div > div > div > div.related-courses{
        padding: 0 16px;
    }
    .acf-input{
        padding: 0 0 0 24px;
    }
    .acf-form{
        gap: 16px;
    }
}

@media (max-width: 1080px) {
    .job-placement-header {
        flex-direction: column;
    }

    .user-info {
        text-align: center;
        margin-bottom: 16px;
    }

    .instructions,
    .resume-status-section,
    #header {
        text-align: center;
    }

    /* Add more styles as needed for responsiveness */
}
@media screen and (min-width: 1400px) {
    #courses-placement .bb-course-item-wrap {
        flex: 0 0 25%;
    }
}